$background: #BEDAF4;
$backgroundAlt: #FFFFFF;
$backgroundButton: #74B7F7;
$backgroundDisabled: #DDDDDD;

$fontSize: 13px;

$fontColor: #333333;
$fontColorText: #2E2E2E;
$fontColorAlt: #FFFFFF;
$fontColorLink: #5EA2C1;