@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'loaders';

body {
    background: $background;
    padding: 0;
    margin: 0;
    font-size: $fontSize;
    font-family: Arial;
    color: $fontColor;
    min-height: 100%;
}
#content {
    padding: 20px;
}
.tasks-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 980px;
    overflow: hidden;
}
.task-element {
    overflow: hidden;
    position: relative;
    + .task-element {
        margin-top: 10px;
    }
}
.task-element-content {
    padding: 20px 20px 20px 80px;
    background: $backgroundAlt;
    min-height: 50px;
}
.task-user{
    color: $fontColorLink;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.task-data {
    display: block;
    text-decoration: none;
    margin: 5px 0 0;
    color: $fontColorText;
    word-wrap: break-word;
    &:hover {
        text-decoration: underline;
    }
}
.task-user-avatar {
    position: absolute;
    left: 20px;
    top: 20px;
    margin: 0 10px 0 0;
    width: 50px;
    height: 50px;
}
.tasks-list-more-button {
    background: $backgroundButton;
    border: 0;
    border-radius: 3px;
    color: $fontColorAlt;
    margin: 20px auto 0;
    display: block;
    max-width: 220px;
    width: 100%;
    padding: 5px 0;
    font-weight: bold;
    &[disabled] {
        background: $backgroundDisabled;
    }
}

@include breakpoint(tablet) {
    .task-element {
        box-sizing: border-box;
        width: 32%;
        margin: 0 2% 0 0;
        float: left;
        padding-bottom: 50px;
        &.task-hidden {
            display: none;
        }
        + .task-element {
            margin-top: inherit;
        }
        &:nth-child(3n+3) {
            margin-right: 0;
        }
        &:after {
            content: '';
            display: block;
            border: 10px solid transparent;
            border-top-color: $backgroundAlt;
            position: absolute;
            bottom: 30px;
            left: 10px;
        }
    }
    .task-element-content {
        padding: 10px;
        height: 200px;
    }
    .task-user {
        color: $fontColorText;
        font-weight: bold;
        position: absolute;
        bottom: 20px;
        left: 5px;
        height: 30px;
        line-height: 30px;
    }
    .task-user-avatar {
        position: static;
        width: 30px;
        height: 30px;
        float: left;
    }
    .tasks-list-more-button {
        margin-top: 0;
    }
}