<li class="task-element<% if(hiddenTask) { %> task-hidden<% } %>">
   <article class="task-element-content">
       <a class="task-user" href="<%= task.get("user").getProfileUrl() %>">
            <img src="<%= task.get("user").getAvatar() %>" class="task-user-avatar" />
            <%= task.get("user").get("nick") %>
       </a>
       <a class="task-data" href="<%= task.getUrl() %>">
           <%= task.get("content") %>
       </a>
   </article>
</li>